<!-- Filtro de Tamaño -->
<div class="filter-container">
  <label for="sizeFilter">Elige tu raza favorita según su tamaño:</label>
  <select id="sizeFilter" (change)="onSizeChange($event)">
    <option value="all">Todos</option>
    <option value="mini">Minis (1 - 6 kg)</option>
    <option value="small">Pequeños (5 - 25 kg)</option>
    <option value="medium">Medianos (14 - 27 kg)</option>
    <option value="large">Grandes (21 - 39 kg)</option>
    <option value="giant">Gigantes (34 - 82 kg)</option>
  </select>
</div>




