.blog-section {
  background-color: #f9f9f9; /* Fondo claro */
  border-radius: 15px;
  padding: 40px 30px; /* Espaciado interno */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

  .blog-title {
    font-size: 2rem; /* Tamaño del título */
    font-weight: bold;
    color: #336633; /* Verde oscuro */
    margin-bottom: 15px;
  }

  .blog-description {
    font-size: 1.1rem; /* Texto ligeramente más grande */
    color: #63af71; /* Gris oscuro */
    margin-bottom: 20px;
  }

  .blog-list {
    list-style: none;
    padding: 0;
    margin-bottom: 25px;

    li {
      margin-bottom: 10px;

      a {
        text-decoration: none;
        color: #336633; /* Verde oscuro */
        font-weight: bold;
        transition: color 0.3s ease;

        &:hover {
          color: #228822; /* Verde más brillante */
        }
      }
    }
  }

  
  }

  .blog-image img {
    width: 100%;
    border-radius: 15px;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.03); /* Ligero efecto hover */
    }
  }

  /* Responsividad */
  @media (max-width: 768px) {
    .blog-title {
      font-size: 1.8rem;
    }

    .blog-description {
      font-size: 1rem;
    }

    .btn-custom {
      font-size: 0.9rem;
    }
  }

