.banner-container {
  position: relative;
  width: 100%;
  height: auto; /* Cambia la altura para adaptarse al contenido */
  overflow: hidden;
  height: 300px; /* Ajusta la altura del contenedor */ 
  
}

.banner-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: top center; /* Muestra la parte superior */
  transform: translateY(-50px); /* Ajusta el valor según lo necesites */
}


.banner-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #ffffff; /* Blanco para contraste */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Sombra para legibilidad */
  text-align: center;
  z-index: 2; /* Asegura que el título esté encima de la imagen */
}

.forum-grid {
  display: grid !important;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)) !important;
  gap: 20px !important;
  padding: 20px !important;
}
/* Cambiar el color de los enlaces dentro de las tarjetas del foro */
.forum-grid a {
  color: black !important; /* Asegura que el texto de los enlaces sea negro */
  text-decoration: none !important; /* Elimina el subrayado de los enlaces */
}

/* Cambiar el color de los títulos de las categorías */
.grid-item h3 {
  color: black !important;
}

/* Cambiar el color de las descripciones y conteo de mensajes */
.grid-item p,
.grid-item small {
  color: black !important;
}


.grid-item {
  background-color: #efd0b8 !important;
  color: black !important;
  border: 8px solid #f47b22 !important;
  border-radius: 30px !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important;
  padding: 20px !important;
  text-align: center !important;
  transition: transform 0.3s ease, box-shadow 0.3s ease !important;
}

.grid-item:hover {
  transform: translateY(-5px) !important;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2) !important;
}

  
 
  
  .grid-item h3 {
    font-family: 'Montserrat', sans-serif; 
    font-weight: bold; /* Título en negrita */
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  p {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    margin-bottom: 10px;
  }
  
  span {
    font-weight: bold;
  }
  