<section class="container mt-3 mb-1">
  <div class="row">
    <!-- Primera Casilla -->
<div class="col-md-6 col-lg-4 mb-4">
  <div class="card shadow-sm">
    <!-- Imagen con enlace externo -->
    <a href="http://localhost:4200/products">
      <img src="assets/images/landing/tienda.png" class="card-img-top" alt="Tienda Online">
    </a>
    <div class="card-body">
      <h5 class="card-title">Tienda Online</h5>
      <p class="card-text">Encuentra los mejores productos para tu perro y siempre al mejor precio.</p>
      <!-- Botón con enlace externo -->
      <a href="http://localhost:4200/products" class="btn-accion">Productos</a>
    </div>
  </div>
</div>


    <!-- Segunda Casilla -->
    <div class="col-md-6 col-lg-4 mb-4">
      <div class="card shadow-sm">
        <a routerLink="/events">
          <img src="assets/images/landing/eventos.png" class="card-img-top" alt="Agenda de Eventos">
        </a>
        <div class="card-body">
          <h5 class="card-title">Agenda de Eventos</h5>
          <p class="card-text">Descubre y participa en actividades para tu mascota.</p>
          <a routerLink="/events" class="btn-accion">Eventos</a>
        </div>
      </div>
    </div>

    <!-- Tercera Casilla -->
    <div class="col-md-6 col-lg-4 mb-4">
      <div class="card shadow-sm">
        <a routerLink="/services">
          <img src="assets/images/landing/servicios.png" class="card-img-top" alt="Servicios Especializados">
        </a>
        <div class="card-body">
          <h5 class="card-title">Servicios Especializados</h5>
          <p class="card-text">Conoce todos los servicios pensados para ti y tu mascota.</p>
          <a routerLink="/services" class="btn-accion">Servicios</a>
        </div>
      </div>
    </div>
  </div>
</section>
