
.consejos-container {
  padding: 2rem;

  .cabecera {
    text-align: center;
    margin-bottom: 2rem;

    h1 {
      font-size: 2.5rem;
      margin-bottom: 0.5rem;
    }

    p {
      font-size: 1.2rem;
      color: #555;
    }
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    gap: 2rem;
  }

  .card {
    background: #fff;
    border-radius: 12px;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    img {
      width: 100%;
      border-radius: 8px;
      margin-bottom: 0.8rem;
    }

    h3 {
      font-size: 1.3rem;
      margin: 0.5rem 0;
    }

    p {
      color: #666;
      font-size: 0.95rem;
       text-align: center;
    }

    .btn-leer {
      display: inline-block;
      margin-top: 0.8rem;
      background: #049106;
      color: white;
      padding: 0.5rem 1rem;
      border-radius: 8px;
      text-decoration: none;
      font-weight: bold;
       text-align: center;

      &:hover {
        background: #e36d06;
      }
    }
  }
}
