<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <!-- LOGO -->
    <a class="navbar-brand d-flex align-items-center" routerLink="/">
      <img src="assets/images/logo.png" alt="Logo" width="40" height="40" class="me-2" />
      <span>MAMAS PERRUNAS</span>
    </a>

    <!-- Botón para menú en móviles -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Contenido del Navbar -->
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <div class="d-flex flex-grow-1"></div>
      <ul class="navbar-nav me-auto">

        <!-- TIENDA -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="tiendaDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false"[routerLink]="['/products']">
            Tienda
          </a>
          <ul class="dropdown-menu" aria-labelledby="tiendaDropdown">
            <li><a class="dropdown-item" [routerLink]="['/products', 'Ropa']">Ropa</a></li>
            <li><a class="dropdown-item" [routerLink]="['/products', 'Accesorios']">Accesorios</a></li>
            <li><a class="dropdown-item" [routerLink]="['/products', 'Juguetes']">Juguetes</a></li>
            <li><a class="dropdown-item" [routerLink]="['/products', 'Alimentos']">Alimentos</a></li>
            <li><a class="dropdown-item" [routerLink]="['/products', 'Camas']">Camas</a></li>
            <li><a class="dropdown-item" [routerLink]="['/products', 'Paseo']">Paseo</a></li>
            
          </ul>
        </li>

        <!-- EVENTOS -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="eventosDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Eventos
          </a>
          <ul class="dropdown-menu" aria-labelledby="eventosDropdown">
            <li><a class="dropdown-item" href="#">Cumpleaños</a></li>
            <li><a class="dropdown-item" href="#">Desfiles</a></li>
            <li><a class="dropdown-item" href="#">Adopciones</a></li>
            <li><a class="dropdown-item" href="#">Reuniones</a></li>
            <li><a class="dropdown-item" href="#">Exposiciones</a></li>
          </ul>
        </li>

        <!-- SERVICIOS -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="serviciosDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Servicios
          </a>
          <ul class="dropdown-menu" aria-labelledby="serviciosDropdown">
            <li><a class="dropdown-item" href="#">Veterinaria</a></li>
            <li><a class="dropdown-item" href="#">Entrenamiento</a></li>
            <li><a class="dropdown-item" href="#">Estética</a></li>
            <li><a class="dropdown-item" href="#">Guarderías</a></li>
            <li><a class="dropdown-item" href="#">Asesoramiento</a></li>
          </ul>
        </li>

        <!-- COMUNIDAD -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="comunidadDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Comunidad
          </a>
          <ul class="dropdown-menu" aria-labelledby="comunidadDropdown">
            <li><a class="dropdown-item" routerLink="/foro">Foros</a></li>
            <li><a class="dropdown-item" href="#">Grupos</a></li>
            <li><a class="dropdown-item" href="#">Historias</a></li>
            <li><a class="dropdown-item" href="#">Recomendaciones</a></li>
            <li><a class="dropdown-item" href="#">Encuestas</a></li>
          </ul>
        </li>

        <!-- BLOG -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="blogDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false" [routerLink]="['/blog']">
            Blog
          </a>
          <ul class="dropdown-menu" aria-labelledby="blogDropdown">
            <li><a class="dropdown-item" [routerLink]="['/blog/experts']">Hablan nuestros expertos</a></li>
            <li><a class="dropdown-item" [routerLink]="['/blog/news']">Noticias</a></li>
            <li><a class="dropdown-item" [routerLink]="['/blog/tips']">Consejos</a></li>
            <li><a class="dropdown-item" [routerLink]="['/blog/life']">Vida Canina</a></li>
            <li><a class="dropdown-item" [routerLink]="['/razas']">Razas</a></li>
          </ul>
        </li>
      </ul>

      <!-- BOTONES DERECHA -->
      <div class="d-flex flex-grow-1"></div>
      <div class="d-flex flex-column align-items-end">
        <a class="small text-white mb-1" routerLink="/business-area">Área Empresas</a>
        <div>
          <a class="btn btn-outline-light me-2" routerLink="/registro">Regístrate</a>
          <a class="btn btn-outline-light" routerLink="/login">Accede</a>
        </div>
      </div>
    </div>
  </div>
</nav>
