<h3 class="banner-subtitle">Todo lo que buscabas para tu perrhijo</h3>
<form class="d-flex search-form">
  <input
    type="text"
    class="form-control me-2 wide-input"
    placeholder="Busca por nombre o por categoría"
  />
  <input
    type="text"
    class="form-control me-2 wide-input"
    placeholder="en Dónde"
  />
  <button class="btn-accion">Buscar</button>

</form>



<section class="container mt-3 mb-1">
  <div class="row text-center">
    <!-- Primera Casilla -->
    <div class="col-md-6 col-lg-3 mb-4">
      <div class="circle shadow-sm mx-auto">
        <img src="assets/images/landing/parque.png" alt="Parques Caninos">
      </div>
      <h5 class="circle-title mt-3">Parques Caninos</h5>
    </div>

    <!-- Segunda Casilla -->
    <div class="col-md-6 col-lg-3 mb-4">
      <div class="circle shadow-sm mx-auto">
        <img src="assets/images/landing/veterinaria.png" alt="Veterinarias">
      </div>
      <h5 class="circle-title mt-3">Veterinarias</h5>
    </div>

    <!-- Tercera Casilla -->
    <div class="col-md-6 col-lg-3 mb-4">
      <div class="circle shadow-sm mx-auto">
        <img src="assets/images/landing/tienda.png" alt="Tiendas de Mascotas">
      </div>
      <h5 class="circle-title mt-3">Tiendas de Mascotas</h5>
    </div>

    <!-- Cuarta Casilla -->
    <div class="col-md-6 col-lg-3 mb-4">
      <div class="circle shadow-sm mx-auto">
        <img src="assets/images/landing/cafeteria.png" alt="Cafeterías Pet Friendly">
      </div>
      <h5 class="circle-title mt-3">Cafeterías Pet Friendly</h5>
    </div>
  </div>
</section>
