.navbar {
  background-color: var(--secondary-green); 
  padding: 10px 20px;
}

.navbar-brand {
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.navbar-brand img {
  border-radius: 50%; 
}

.navbar-nav .nav-link { /*  Especificamos .navbar-nav para evitar conflictos con otros enlaces */
  color: white;
  font-size: 16px;
  text-decoration: none;
}

.navbar-nav .nav-link:hover, 
.navbar-nav .nav-link:focus { /*  Añadimos :focus para la accesibilidad */
  color: var(--primary-orange); 
}

.navbar-nav .nav-link.active, /*  Estilo para el enlace activo */
.navbar-nav .nav-link.active:hover,
.navbar-nav .nav-link.active:focus {
  color: var(--primary-orange); 
  font-weight: bold;
}

/* Estilo para menú desplegable */
.dropdown-menu {
  background-color: #f8f9fa; 
  border-radius: 0.25rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); 
}

.dropdown-item {
  color: #333;
  font-size: 14px;
  white-space: nowrap;
  padding: 10px 20px;
  text-decoration: none;
}

.dropdown-item:hover,
.dropdown-item:focus { /*  Añadimos :focus */
  background-color: var(--secondary-green);
  color: white;
}

/* Botones de acceso y registro */
.btn-outline-light {
  color: white;
  border-color: white;
  margin-right: 10px;
}

.btn-outline-light:hover,
.btn-outline-light:focus { /*  Añadimos :focus */
  background-color: white;
  color: var(--primary-green);
}

/* Área Empresas */
.small {
  font-size: 12px;
  color: white;
  margin-right: 40px
}

/* Ajustes responsive */
@media (max-width: 992px) {
  .navbar {
    padding: 10px;
  }

  .navbar-brand {
    font-size: 18px;
  }

  .btn-outline-light {
    margin-right: 5px;
  }
}