<div class="container mt-4">
    <h2 class="experts-title">Noticias del Mundo Canino</h2>
    
    <div class="row">
      <!-- Noticia 1: Nuevas normativas -->
      <div class="col-md-4">
        <div class="card">
          <img src="assets/images/blog/ley.png" class="card-img-top" alt="Nuevas normativas para mascotas">
          <div class="card-body">
            <h5 class="card-title">Nuevas normativas para la tenencia de mascotas</h5>
            <p class="card-text">Descubre las últimas regulaciones que afectan a los dueños de perros en tu ciudad.</p>
            <a [routerLink]="['/blog/news/1']" class="btn-accion">Leer más</a>
          </div>
        </div>
      </div>
  
      <!-- Noticia 2: Tener un perro en familia -->
      <div class="col-md-4">
        <div class="card">
          <img src="assets/images/blog/familia.jpg" class="card-img-top" alt="¿Hay que pasar un test para poder tener un perro en la familia?">
          <div class="card-body">
            <h5 class="card-title">¿Hay que pasar un test para poder tener un perro en la familia?</h5>
            <p class="card-text">Será obligatorio pasar este test. Pero tranquilos os lo explicamos. </p>
            <a [routerLink]="['/blog/news/2']" class="btn-accion">Leer más</a>
          </div>
        </div>
      </div>
  
      <!-- Noticia 3: Sociabilidad de perros -->
      <div class="col-md-4">
        <div class="card">
          <img src="assets/images/blog/test.png" class="card-img-top" alt="Eventos y ferias caninas">
          <div class="card-body">
            <h5 class="card-title">¿Qué perros tienen que pasar el test de sociabilidad?</h5>
            <p class="card-text">Conoce que razas tendrán que aprobar un test para poder residir en comunidad</p>
            <a [routerLink]="['/blog/news/3']" class="btn-accion">Leer más</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
