<div class="container mt-4">
  <h2 class="experts-title">Hablan nuestros expertos</h2>
    <div class="row">
      <!-- Post 1: Veterinario -->
      <div class="col-md-4">
        <div class="card">
          <img src="assets/images/blog/expertos.png" class="card-img-top" alt="Consejos de un veterinario">
          <div class="card-body">
            <h5 class="card-title">Consejos de un veterinario para la salud de tu perro</h5>
            <p class="card-text">Descubre los cuidados esenciales que todo dueño debe conocer.</p>
            <a [routerLink]="['/blog/experts/1']" class=" btn-accion">Leer más</a>
          </div>
        </div>
      </div>
  
      <!-- Post 2: Adiestrador -->
      <div class="col-md-4">
        <div class="card">
          <img src="assets/images/blog/adiestrador.png"class="card-img-top" alt="Técnicas de adiestramiento">
          <div class="card-body">
            <h5 class="card-title">Técnicas de adiestramiento para un perro equilibrado</h5>
            <p class="card-text">Aprende los métodos más efectivos para entrenar a tu perro.</p>
            <a [routerLink]="['/blog/experts/2']" class="btn-accion">Leer más</a>
          </div>
        </div>
      </div>
  
      <!-- Post 3: Psicólogo -->
      <div class="col-md-4">
        <div class="card">
          <img src="assets/images/blog/psico.jpeg" class="card-img-top" alt="Estado emocional del dueño y su perro">
          <div class="card-body">
            <h5 class="card-title">¿Nuestro humor afecta a nuestro perro?</h5>
            <p class="card-text">Explora la conexión emocional entre los humanos y sus perros.</p>
            <a [routerLink]="['/blog/experts/3']" class="btn-accion">Leer más</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  